{% extends "base.html" %}

{% block title %}À propos - Mon site Flask{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<div class="container-about">
    <section class="text-section">
        <div class="header-section">
            <p>Le commencement</p>
        </div>
        <div class="title-section">
            <h2>Un fardeau devenu un plaisir</h2>
        </div>

        <div class="paragraph">
            <p>Le travail indépendant est l'incarnation de la liberté, mais il s'accompagne d'une charge mentale bien
                réelle : la gestion des missions, le suivi précis des tâches et la bonne organisation des relations
                clients. Pendant trop longtemps, le temps passé à gérer a empiété sur le temps consacré à la création de
                valeur. Chez SoloTrack, nous avons décidé de mettre fin à ce fardeau. En simplifiant chaque interaction
                client et en offrant une visibilité immédiate sur l'état d'avancement de vos missions, SoloTrack
                transforme la complexité administrative en une routine intuitive et gratifiante. Notre objectif est
                simple : vous permettre de reprendre le contrôle de votre temps et de votre charge de travail, faisant
                de la gestion quotidienne non plus une corvée, mais une source de plaisir et de sérénité.</p>
        </div>
    </section>

    <section class="card-section">
        <div class="image">
            <img src="../static/images/about-page.jpg" width="200" height="300" alt="illustration de gestions de projets de freelance">
        </div>

        <div class="wrapper">
            <div class="card">
                <p class="title-card">50+</p>
                <p class="description-card">D'utilisateurs actifs</p>
            </div>
            <div class="card">
                <p class="title-card">10k</p>
                <p class="description-card">Missions clôturées</p>
            </div>
            <div class="card">
                <p class="title-card">100+</p>
                <p class="description-card">Retours positifs</p>
            </div>
            <div class="card">
                <p class="title-card">2 ans</p>
                <p class="description-card">De developpement</p>
            </div>
        </div>

    </section>
</div>
{% endblock %}